
.paginate{
    display: flex;
    display: row;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    padding: 0;

    
}

.number{
    list-style: none;
    color: rgb(248, 70, 0);
    margin:10px 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(248, 169, 96); 
   
}
.number:hover {
    color: rgb(243, 148, 60);
    background-color:rgb(248, 70, 0);
}



