.container{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.178);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    height: 40px;
    width: 300px;
    border-radius: 40px;
    padding-left: 0px;
}

.btn{
    font-style: italic;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.txt {
   border: none;
   background: none;  
   outline: none;
   width: 200px;
   margin-top: 11px;
  
}




